* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f8;
  color: #222;
}

.listTitle {
  text-align: center;
}

.booklist {
  width: 90vw;
  max-width: 1100px;
  height: 100%;
  margin: 1rem auto;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .booklist {
    grid-template-columns: repeat(4, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book img {
  width: 100%;
}

.book h2 {
  margin-top: 0.5rem;
}

.book h3 {
  color: #617d98;
  font-size: 0.9rem;
}
